@import '../../node_modules/normalize.scss/normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,500&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
// @import '../../node_modules/bootstrap/dist/js/bootstrap.bundle.js';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    position: relative;
    background-color: var(--body-background-default)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}